 {% load static  %}
<!-- footer -->

   <section class="footer">

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-map"></i>
            <h3>address</h3>
            <p> Cold Point, Jhanda Chowk market, Sakchi <br>
                Jamshedpur <br>
                India</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>phone</h3>
            <p>+91-8474578468</p>
            <p>+91-9162473755</p>
        </div>

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <a href="#" class="link">frostyscoops@gmail.com</a>
        </div>

        <div class="icons">
            <i class="fas fa-clock"></i>
            <h3>opening hours</h3>
            <p>monday - friday: 2:00 - 12:00 <br> Saturday: 2:00 - 11:00</p>
        </div>

    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

    <div class="credit">created by <span>frostyscoops</span> | all right reserved!</div>

</section>








<!-- footer -->








<!-- swiper -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- lightgallery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

<!-- custom js -->
<script src= {% static "js/script.js" %}></script>

<script>
    lightGallery(document.querySelector('.gallery .gallery-container'));
</script>

</body>
</html>   