{% include "header.html" %}
{% load static %}
<span style="font-family: verdana, geneva, sans-serif;">
  <!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Scoop's Login</title>
        <link rel="stylesheet" href={% static "css/style.css" %} />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href={% static "css/login.css" %}>
      </head>
      <body>
        <div class="login-box">
          <h1>Login</h1>
          <form  action="/login" method="POST">
            {% csrf_token %}
            <label type="Username">Username</label>
            <input type="text" name="uname"/>
            <label>Email</label>
            <input type="email" placeholder="" name="email"/>
            <label>Password</label>
            <input type="password" placeholder="" name="password" />
            <input type="submit" value="Submit" class="btn"/>
          </form>
        </div>
        <p class="para-2">
          Not have an account? <a href="/signup">Sign Up Here</a>
        </p>
      </body>
    </html></span>
    <script src= {% static "js/script.js" %}></script>
